# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
env/

# Environment Variables
.env

# Flask
instance/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Database
*.db